.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.75);

	z-index: 99999;
	opacity:1;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
}

.modalDialog:target {
	opacity:0;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 6px;
	/*background: #fff;*/
    color: #454545;
    text-shadow: 0 1px #fff;
    vertical-align: top;
    background-color: #edf1f1;
    box-shadow: inset 0 1px #fff;
    border: 1px solid #a5a8a8;
    border-radius: 6px;
	/*background: -moz-linear-gradient(#fff, #999);*/
	/*background: -webkit-linear-gradient(#fff, #999);*/
	/*background: -o-linear-gradient(#fff, #999);*/
}

.exit-status {
    display:block !important;
}
.won, .partner-left, .lost, .giveup, .nobody, .tooslow {
	display: none;
}
