/* Square border in jqm */
.ui-corner-all {
    -webkit-border-radius: 0em;
    border-radius: 0em;
}

.ui-btn-corner-all {
    -webkit-border-radius: 0em;
    border-radius: 0em;
}

.ui-input-text,
.ui-select
{
    width: 100% !important;
    padding: 0.1em 0em !important;
}

#canvas {
    display: block;
    margin: 0 auto;
    max-height: 800px;
    max-width: 800px;
}

.center-wrapper {
    text-align: center;
}

.center-wrapper * {
    margin: 0 auto;
}

