/* =====================================================================================================================
* Game layout
===================================================================================================================== */
#blockScriptChat {
    display:inline-block;
    float:right;
    position:relative;
    max-height: 800px;width:38%
}

#blockCanvas {
    display:inline-block;
    float:left;
    width:60%;
    position:relative;
}

.container {
    max-width:1200px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    width:80%;
    margin-left: 2em;
}

#error {
    color: darkred;
    max-height: 1em;
    height: 1em;
}

.turtle {
    width: 10%;
}

.groovy {
    background-color: rgb(162, 245, 253);
}

.scala {
    background-color: #f0ced2;
}

/* =====================================================================================================================
* Square border in jqm
===================================================================================================================== */
.ui-corner-all {
    -webkit-border-radius: 0em;
    border-radius: 0em;
}

.ui-btn-corner-all {
    -webkit-border-radius: 0em;
    border-radius: 0em;
}

.ui-input-text,
.ui-select
{
    width: 100% !important;
    padding: 0.1em 0em !important;
}

/* =====================================================================================================================
* Turtle canvas
===================================================================================================================== */
canvas {
    display: block;
    margin: 0 auto;
    max-height: 800px;
    max-width: 800px;
    width: 100%;
    position:absolute;
    left:0px;
    top:0px;
}

#canvasGrid {
    z-index: 1;
}

#canvasWalls {
    z-index: 2;
}

#canvasTurtles {
    z-index: 3;
}

.center-wrapper {
    text-align: center;
}

.center-wrapper * {
    margin: 0 auto;
}

/* ==================================================================================================================
   For Tablets
   For small than 650 px
===================================================================================================================== */

@media only screen and (max-width: 650px) {

    #blockScriptChat {
        display:block;
        float:none;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    #blockCanvas {
        display:block;
        float:none;

        height: 30em;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    .turtle {
        width: 20%;
    }

}
@media only screen and (max-width: 550px) {
    #blockCanvas {
        height: 32em;
        width: 95%;
    }
    #blockScriptChat {
        width: 95%;
    }
    .turtle {
        width: 25%;
    }

}
@media only screen and (max-width: 400px) {
    #blockCanvas {
        height: 23em;
        width: 97%;
    }
    #blockScriptChat {
        width: 97%;
    }
    #error {
        font-size:0.71em;
    }
    .turtle {
        width: 25%;
    }

}