.clear {
    clear:both;
}
.col1 {
    width:41%; float:left;
    text-align: left;
    padding: 0 1.25rem;
    font-size: 1.2em;
    line-height: 1.7rem;
    letter-spacing: 1px;
    color: #454545;
    text-shadow: 0 1px #fff;
    vertical-align: top;
    background-color: rgb(162, 245, 253);
    box-shadow: inset 0 1px #fff;
    border: 1px solid #4FEBFD;

    border-radius: 6px;


}
.col2 {
    width:44%; float:right;
    text-align: left;
    padding: 0 1.25rem;
    font-size: 1.2em;
    line-height: 1.7rem;
    letter-spacing: 1px;
    color: #454545;
    text-shadow: 0 1px #fff;
    vertical-align: top;
    background-color: #f0ced2;
    box-shadow: inset 0 1px #fff;
    border: 1px solid #F09CB2;
    border-radius: 6px;

}
.boxed-help {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5rem;

    letter-spacing: 1px;
    display:inline-block;


}

.boxed-help-text {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 200;
    border-radius: 6px;
    line-height: 2rem;
    border: 1px solid #a5a8a8;
    background-color: #d3d7d7;
    box-shadow: inset 0 1px rgba(0,0,0,0.12);
    color: #454545;
    letter-spacing: 1px;
}

/*
=====================================================================================================================
==              Bigger Screen                                                                                      ==
===================================================================================================================== */
@media all and (max-width: 1010px) {
    .boxed-help {
        width: 90%;
    }
    .boxed-help-text {
        width: 90%;
    }
}
@media all and (max-width: 650px) {
    .boxed-help {
        width: 90%;
    }
    .boxed-help-text {
        width: 90%;
    }
    .col2,
    .col1 {
        width:38%;
    }
}

@media all and (max-width: 400px) {
    .boxed-help {
        width: 90%;
    }
    .boxed-help-text {
        width: 90%;
    }
    .col2,
    .col1 {
        width:33%;
    }
}
/*.scala {*/
  /*background-color: #f0ced2;*/
/*}*/

/*.groovy {*/
  /*background-color: rgb(162, 245, 253);*/

/*}*/